
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ if .Title }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<link rel="icon" type="image/svg+xml" href="{{ .Site.BaseURL }}favicon.svg">

<link rel="alternate" hreflang="uk" href="{{ .Site.BaseURL }}" />
<link rel="alternate" hreflang="en" href="{{ .Site.BaseURL }}en/" />

<meta property="og:title" content="{{ if .Title }}{{ .Title }} — {{ end }}{{ .Site.Title }}" />
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}favicon.svg" />
